[Unit]
Description=Discord Birthday Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/admin/repos/discord-birthdays
ExecStart=/home/admin/repos/discord-birthdays/.venv/bin/python bot.py
Restart=on-failure
RestartSec=10
User=admin

[Install]
WantedBy=multi-user.target
